<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    {{message}}
</div>
<div id="app2">
    <span :title="message">
        鼠标悬停几秒钟查看消息!
    </span>
</div>
<div id="app3">
    <p v-if="seen">现在你可看到我了</p>
</div>
<div id="app4">
    <ol>
        <li v-for="todo in todos">
            {{ todo.text }}
        </li>
    </ol>
</div>
<div id="app5">
    <p>{{ message }}</p>
    <button @click="reverseMessage">逆转消息</button>
</div>
<div id="app6">
    <p>{{ message }}</p>
    <input type="text" v-model="message">
</div>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="hello.js"></script>
</body>
</html>